.jogando p{
    color: rgb(61, 61, 61);
    margin: 20px;
}
.pontuacao span {
    font-weight: bold;
}

h3{
    color: rgb(61, 61, 61);
}
.dica{
    color: rgb(245, 214, 41);
    font-size: 30px;
    border: 2px solid rgb(61, 61, 61);;
    padding: 5px;
}

.containerPalavra{
    margin: 20px;
    border: 5px solid rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.letra, .vazio{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 60px;
    height: 50px;
    border: 1px solid rgb(61, 61, 61);
}


.containerLetra form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerLetra p{
    color:rgb(61, 61, 61);
}

.containerLetra input{
    width: 60px;
    height: 50px;
    border: 1px solid rgb(61, 61, 61);
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.btnOk{
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(60deg, rgb(218, 95, 95) 0%, rgb(255, 238, 3));
    box-shadow: 1px 1px 5px rgb(61, 61, 61);
    transition: .7s;
    color: rgb(61, 61, 61);
    font-weight: 800;
    border: 1px solid rgb(63, 63, 63);
    margin: 20px;
  }

