* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  background: linear-gradient(180deg, rgb(218, 95, 95), rgb(255, 238, 3));
}


button {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(60deg, rgb(218, 95, 95) 0%, rgb(255, 238, 3));
  box-shadow: 1px 1px 5px rgb(61, 61, 61);
  transition: .5s;
  color: rgb(61, 61, 61);
  font-weight: 800;
  border: 1px solid rgb(63, 63, 63);
}

button:hover{
  box-shadow: 1px 1px 25px rgb(63, 63, 63);
  border: 1px solid rgb(63, 63, 63);
}